.dir{
	color: blue;
	font-family: Monospace;
	font-size: 8pt;
	font-weight: normal;
	word-wrap: break-word;
}

.file{
	color: green;
	font-family: Monospace;
	font-size: 8pt;
	font-weight: normal;
	word-wrap: break-word;
}

.link{
	color: cyan;
	font-family: Monospace;
	font-size: 8pt;
	font-weight: normal;
	word-wrap: break-word;
}
