.text{
	color:	#FFFFFF;
	font-family: Times New Roman;
	font-size: 10pt;
	font-weight: normal;
	word-wrap: break-word;
}

.prompt{
	color:	#FFFFFF;
	font-family: Times New Roman;
	font-size: 10pt;
	font-weight: normal;
}

.shell{
	border: 0px;
	color:	#FFFFFF;
	background-color: transparent;
	font-family: Times New Roman;
	font-weight: normal;
	height: 10pt;
}
